{% extends "base.html.j2" %}
{% block title %}Delete Post{% endblock %}
{% block content %}
<div class="alert {{alert}}">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    {{message}}
</div>
{% endblock %}